<div class="container">
  
  <!-- TITLE -->
  <div class="col-md-12"> 
    <h2> #6: Letter / Word Spacing </h2>
  </div>


  <!-- Tab panes -->
  <div class="tab-content">
      
      <!-- HTML FOR ENTRY HERE -->
      <div class="style-container"> 
        <p class="smallest"> getting larger</p>
        <p class="medium"> getting larger</p>
        <p class="largest"> getting larger</p>
        <p class="shrinking"> getting smaller</p>

        <!-- The word-spacing CSS property changes the inter-word space.  All modern browsers provide support for this  property. -->

        <p class="shortest">never liked you much anyways</p>
        <p class="wider">never liked you much anyways</p>
        <p class="collapsing">oh, wait.  Changed my mind.</p>
      </div>
      <!-- CSS FOR ENTRY HERE -->
        <style>
         .smallest{
            letter-spacing: 0.1em /* or px or "normal" but not %*/
          }

          .medium{
            letter-spacing: 0.5em
          }

          .largest{
            letter-spacing: 1em
          }

          .shrinking{
            letter-spacing: -0.08em
          }


          .shortest{
            word-spacing: 2em
          }

          .wider{
            word-spacing: 4em
          }

          .collapsing{
            word-spacing: -1em
          }
                  </style>
    </div>
    
    <!-- CODE TAB -->
    <div class="col-md-6 code"> 
      <h4> CSS </h4>
      <pre class="prettyprint"> 
        .smallest{
          letter-spacing: 0.1em /* or px or "normal" but not %*/
        }

        .medium{
          letter-spacing: 0.5em
        }

        .largest{
          letter-spacing: 1em
        }

        .shrinking{
          letter-spacing: -0.08em
        }


        .shortest{
          word-spacing: 2em
        }

        .wider{
          word-spacing: 4em
        }

        .collapsing{
          word-spacing: -1em
        }
      </pre>
    </div>
    <div class="col-md-6" id="code"> 
      <h4> HTML </h4>
      <pre class="prettyprint"> 
        &lt;!--  The letter-spacing CSS property changes the spacing between text characters on top of any spacing adjustments made by the typeface for kerning.  All browsers provide HTML support for this property. --&gt;

        &lt;p class="smallest"&gt; getting larger&lt;/p&gt;
        &lt;p class="medium"&gt; getting larger&lt;/p&gt;
        &lt;p class="largest"&gt; getting larger&lt;/p&gt;
        &lt;p class="shrinking"&gt; getting smaller&lt;/p&gt;

        &lt;!-- The word-spacing CSS property changes the inter-word space.  All modern browsers provide support for this  property. --&gt;

        &lt;p class="shortest"&gt;never liked you much anyways&lt;/p&gt;
        &lt;p class="wider"&gt;never liked you much anyways&lt;/p&gt;
        &lt;p class="collapsing"&gt;oh, wait.  Changed my mind.&lt;/p&gt;
      </pre>
    </div>
</div>

