<div class="container">
  
  <!-- TITLE -->
  <div class="col-md-12"> 
    <h2> <!-- ENTER YOUR TITLE HERE!!!!! --> </h2>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li><a href="#hack" data-toggle="tab">Hack</a></li>
    <li><a href="#code" data-toggle="tab">Code</a></li>
    <!-- <li><a href="#html" data-toggle="tab">HTML</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- RESULTS TAB -->
    <div class="tab-pane active" id="hack">
      
      <!-- HTML FOR ENTRY HERE -->
      <div class="style-container"> <!-- TRYING TO USE THIS DIV TO CONTAIN STYLES TO ONLY APPLY WITHIN -->
        <p class="overline">overline</p>
        <p class="line-through">line-through</p>
        <p class="underline">underline</p>
        <p class="none">default (none)</p>
        <div class="underline">The above values are supported by all major browsers, but <span class="inherit">"inherit"</span> is not supported in IE7 and earlier. This paragraph would look a bit different in IE7 or earlier.</div>
        <p>To get rid of the decoration on lists, you actually need to use list-style-type: none;</p>
        <ul>
          <li>no bullet points</li>
          <li>no numbers</li>
        </ul>
      </div>
      <!-- CSS FOR ENTRY HERE -->
        <style>
          .overline {
            text-decoration: overline;
          }
          .line-through {
            text-decoration: line-through;
          }
          .underline {
            text-decoration: underline;
          }
          li {
            list-style-type: none;
          }
          .inherit {
            text-decoration: inherit;
          }
        </style>
    </div>
    
    <!-- CODE TAB -->
    <div class="tab-pane" id="code">
      <div class="col-md-6 code"> 
        <h4> CSS </h4>
        <pre class="prettyprint"> 
          .overline {
            text-decoration: overline;
          }

          .line-through {
            text-decoration: line-through;
          }

          .underline {
            text-decoration: underline;
          }

          li {
            list-style-type: none;
          }

          .inherit {
            text-decoration: inherit;
          }
        </pre>
      </div>
      <div class="col-md-6" id="code"> 
        <h4> HTML </h4>
        <pre class="prettyprint"> 
          &lt;p class="overline">overline&lt;/p&gt;
          &lt;p class="line-through"&gt;line-through&lt;/p&gt;
          &lt;p class="underline"&gt;underline&lt;/p&gt;
          &lt;p class="none"&gt;default (none)&lt;/p&gt;
          &lt;div class="underline"&gt;The above values are supported by all major browsers, but &lt;span class="inherit"&gt;"inherit"&lt;/span&gt; is not supported in IE7 and earlier. This paragraph would look a bit different in IE7 or earlier.&lt;/div&gt;
          &lt;p&gt;To get rid of the decoration on lists, you actually need to use list-style-type: none;&lt;/p&gt;
          &lt;ul&gt;
            &lt;li&gt;no bullet points&lt;/li&gt;
            &lt;li&gt;no numbers&lt;/li&gt;
          &lt;/ul&gt;
        </pre>
      </div>
    </div>

  </div>
</div>

<!-- JS FOR TABS -->
<script>
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  $('#myTab a[href="#hack"]').tab('show') // Select tab by name
  $('#myTab a:first').tab('show') // Select first tab
  $('#myTab a:last').tab('show') // Select last tab
  $('#myTab li:eq(2) a').tab('show') // Select third tab (0-indexed)
</script>
