<div class="container">
  
  <!-- TITLE -->
  <div class="col-md-12"> 
    <h2> <!-- ENTER YOUR TITLE HERE!!!!! --> </h2>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li><a href="#hack" data-toggle="tab">Hack</a></li>
    <li><a href="#code" data-toggle="tab">Code</a></li>
    <!-- <li><a href="#html" data-toggle="tab">HTML</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- RESULTS TAB -->
    <div class="tab-pane active" id="hack">
      
      <!-- HTML FOR ENTRY HERE -->
      <div class="style-container"> <!-- TRYING TO USE THIS DIV TO CONTAIN STYLES TO ONLY APPLY WITHIN -->
        <!-- ENTER YOUR HTML HERE!!!!! -->
      </div>
      <!-- CSS FOR ENTRY HERE -->
        <style>
          header {
            font-size: 30px;
          }
          p {
            border: 1px solid red;
            width: 80%;
          }
          #left {
            text-align: left;
          }
          #right {
            text-align: right;
          }
          #center {
            text-align: center;
          }
          #justify {
            text-align: justify;
          }
        </style>
    </div>
    
    <!-- CODE TAB -->
    <div class="tab-pane" id="code">
      <div class="col-md-6 code"> 
        <h4> CSS </h4>
        <pre class="prettyprint"> 
          p {
            border: 1px solid red;
            width: 80%;
          }

          #left {
            text-align: left;
          }
          #right {
            text-align: right;
          }

          #center {
            text-align: center;
          }

          #justify {
            text-align: justify;
          }
        </pre>
      </div>
      <div class="col-md-6" id="code"> 
        <h4> HTML </h4>
        <pre class="prettyprint">          
          &lt;header&gt;All browsers (Chrome 1.0, Firefox (Gecko) 1.0, Internet Explorer 3.0, Opera 3.5 and Safari 1.0) support the following CSS attributes for text-align:&lt;/header&gt;

          &lt;h2&gt;text-align: left;&lt;/h2&gt;
          &lt;p id="left"&gt;Lorem ipsum dolor sit amet, mel ea illud dicta vocent. Debet sapientem persequeris ea pri. Dicat liber torquatos ne per, ei option facilis duo. Cu eum offendit appareat. An vix diam dictas viderer, ei pri nobis copiosae.

          Sit atqui debitis omnesque ea, tale delectus sit ne, nam id nihil signiferumque. Duo atomorum praesent mnesarchum id. Error nostrum et mea, cu eos alii aliquip nonumes. Sit feugiat denique molestiae ex, ex oratio vocent duo.

          Ex duo consetetur accommodare, nam tacimates interpretaris no, docendi iracundia sea ne. Eu quot volutpat has, his atqui solet expetenda cu, reprimique signiferumque eos ad. Ut hinc primis alterum qui, vocent aperiam malorum vis at. Sit tritani dolorem lobortis ad, ei nemore efficiantur sit. At per affert postulant. Electram appellantur efficiantur pri ad, tota qualisque an vel.

          Integre constituto suscipiantur per et, noster nostrud cu pri. Sit eu regione offendit. Utroque appellantur te nec, et assum quidam delicata vis. Porro facer viderer ad nam, eos no porro appetere imperdiet. Mei adhuc eligendi mnesarchum id, no sed malis iusto expetendis. Novum senserit accommodare no sea.

          Elitr ocurreret consequat et sit. No salutandi principes vis. Contentiones consectetuer cum an, eos ei mutat zril antiopam, volumus fabellas vel ad. Ne mei option ceteros vituperata. Mei omnium singulis recusabo eu, an dictas liberavisse his. Eum ne inani laboramus, te vix euismod nostrum. Deserunt euripidis ex mel.&lt;/p&gt;

          &lt;h2&gt;text-align: right;&lt;/h2&gt;
          &lt;p id="right"&gt;Lorem ipsum dolor sit amet, mel ea illud dicta vocent. Debet sapientem persequeris ea pri. Dicat liber torquatos ne per, ei option facilis duo. Cu eum offendit appareat. An vix diam dictas viderer, ei pri nobis copiosae.

          Sit atqui debitis omnesque ea, tale delectus sit ne, nam id nihil signiferumque. Duo atomorum praesent mnesarchum id. Error nostrum et mea, cu eos alii aliquip nonumes. Sit feugiat denique molestiae ex, ex oratio vocent duo.

          Ex duo consetetur accommodare, nam tacimates interpretaris no, docendi iracundia sea ne. Eu quot volutpat has, his atqui solet expetenda cu, reprimique signiferumque eos ad. Ut hinc primis alterum qui, vocent aperiam malorum vis at. Sit tritani dolorem lobortis ad, ei nemore efficiantur sit. At per affert postulant. Electram appellantur efficiantur pri ad, tota qualisque an vel.

          Integre constituto suscipiantur per et, noster nostrud cu pri. Sit eu regione offendit. Utroque appellantur te nec, et assum quidam delicata vis. Porro facer viderer ad nam, eos no porro appetere imperdiet. Mei adhuc eligendi mnesarchum id, no sed malis iusto expetendis. Novum senserit accommodare no sea.

          Elitr ocurreret consequat et sit. No salutandi principes vis. Contentiones consectetuer cum an, eos ei mutat zril antiopam, volumus fabellas vel ad. Ne mei option ceteros vituperata. Mei omnium singulis recusabo eu, an dictas liberavisse his. Eum ne inani laboramus, te vix euismod nostrum. Deserunt euripidis ex mel.&lt;/p&gt;

          &lt;h2&gt;text-align: center;&lt;/h2&gt;
          &lt;p id="center"&gt;Lorem ipsum dolor sit amet, mel ea illud dicta vocent. Debet sapientem persequeris ea pri. Dicat liber torquatos ne per, ei option facilis duo. Cu eum offendit appareat. An vix diam dictas viderer, ei pri nobis copiosae.

          Sit atqui debitis omnesque ea, tale delectus sit ne, nam id nihil signiferumque. Duo atomorum praesent mnesarchum id. Error nostrum et mea, cu eos alii aliquip nonumes. Sit feugiat denique molestiae ex, ex oratio vocent duo.

          Ex duo consetetur accommodare, nam tacimates interpretaris no, docendi iracundia sea ne. Eu quot volutpat has, his atqui solet expetenda cu, reprimique signiferumque eos ad. Ut hinc primis alterum qui, vocent aperiam malorum vis at. Sit tritani dolorem lobortis ad, ei nemore efficiantur sit. At per affert postulant. Electram appellantur efficiantur pri ad, tota qualisque an vel.

          Integre constituto suscipiantur per et, noster nostrud cu pri. Sit eu regione offendit. Utroque appellantur te nec, et assum quidam delicata vis. Porro facer viderer ad nam, eos no porro appetere imperdiet. Mei adhuc eligendi mnesarchum id, no sed malis iusto expetendis. Novum senserit accommodare no sea.

          Elitr ocurreret consequat et sit. No salutandi principes vis. Contentiones consectetuer cum an, eos ei mutat zril antiopam, volumus fabellas vel ad. Ne mei option ceteros vituperata. Mei omnium singulis recusabo eu, an dictas liberavisse his. Eum ne inani laboramus, te vix euismod nostrum. Deserunt euripidis ex mel.&lt;/p&gt;

          &lt;h2&gt;text-align: justify;&lt;/h2&gt;
          &lt;p id="justify"&gt;Lorem ipsum dolor sit amet, mel ea illud dicta vocent. Debet sapientem persequeris ea pri. Dicat liber torquatos ne per, ei option facilis duo. Cu eum offendit appareat. An vix diam dictas viderer, ei pri nobis copiosae.

          Sit atqui debitis omnesque ea, tale delectus sit ne, nam id nihil signiferumque. Duo atomorum praesent mnesarchum id. Error nostrum et mea, cu eos alii aliquip nonumes. Sit feugiat denique molestiae ex, ex oratio vocent duo.

          Ex duo consetetur accommodare, nam tacimates interpretaris no, docendi iracundia sea ne. Eu quot volutpat has, his atqui solet expetenda cu, reprimique signiferumque eos ad. Ut hinc primis alterum qui, vocent aperiam malorum vis at. Sit tritani dolorem lobortis ad, ei nemore efficiantur sit. At per affert postulant. Electram appellantur efficiantur pri ad, tota qualisque an vel.

          Integre constituto suscipiantur per et, noster nostrud cu pri. Sit eu regione offendit. Utroque appellantur te nec, et assum quidam delicata vis. Porro facer viderer ad nam, eos no porro appetere imperdiet. Mei adhuc eligendi mnesarchum id, no sed malis iusto expetendis. Novum senserit accommodare no sea.

          Elitr ocurreret consequat et sit. No salutandi principes vis. Contentiones consectetuer cum an, eos ei mutat zril antiopam, volumus fabellas vel ad. Ne mei option ceteros vituperata. Mei omnium singulis recusabo eu, an dictas liberavisse his. Eum ne inani laboramus, te vix euismod nostrum. Deserunt euripidis ex mel.&lt;/p&gt;
        </pre>
      </div>
    </div>

  </div>
</div>

<!-- JS FOR TABS -->
<script>
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  $('#myTab a[href="#hack"]').tab('show') // Select tab by name
  $('#myTab a:first').tab('show') // Select first tab
  $('#myTab a:last').tab('show') // Select last tab
  $('#myTab li:eq(2) a').tab('show') // Select third tab (0-indexed)
</script>
