<div class="container">
  
  <!-- TITLE -->
  <div class="col-md-12"> 
    <h2> Text Indent </h2>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
      
      <!-- HTML FOR ENTRY HERE -->
      <div class="style-container"> <!-- TRYING TO USE THIS DIV TO CONTAIN STYLES TO ONLY APPLY WITHIN -->
        <h1> The text-indent property is supported in all major browsers. </h1>

Text-indent: 2em
<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>

Text-indent: -2em
<div> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
</div>

Text-indent: 50%
<span> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo 
</span>
      </div>
      <!-- CSS FOR ENTRY HERE -->
        <style>
        
p {
  text-indent:2em;
}

div {
  text-indent: -2em;
}

span {
  text-indent: 50%;
}

        </style>
   
    <!-- CODE TAB -->
      <div class="col-md-6 code"> 
        <h4> CSS </h4>
        <pre class="prettyprint"> 
          
p {
  text-indent:2em;
}

div {
  text-indent: -2em;
}

span {
  text-indent: 50%;
}

        </pre>
      </div>
      <div class="col-md-6" id="code"> 
        <h4> HTML </h4>
        <pre class="prettyprint"> 
          &lt;h1&gt; The text-indent property is supported in all major browsers. &lt;/h1&gt;

Text-indent: 2em
&lt;p&gt; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. &lt;/p&gt;

Text-indent: -2em
&lt;div&gt; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
&lt;/div&gt;

Text-indent: 50%
&lt;span&gt; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo 
&lt;/span&gt;
        </pre>
      </div>

  </div>
</div>




 <h3> Browser Support </h3>
  <p class="browser">
        Firefox(Gecko): 1.0, Chrome: 1.0, Internet Explorer: 3.0, Opera: 3.5, Safari: 1.0.
  </p>