<div class="container">
  
  <!-- TITLE -->
  <div class="col-md-12"> 
    <h2> #7: Text Transform</h2>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
      
      <!-- HTML FOR ENTRY HERE -->
      <div class="style-container"> <!-- TRYING TO USE THIS DIV TO CONTAIN STYLES TO ONLY APPLY WITHIN -->
        <!-- ENTER YOUR HTML HERE!!!!! -->
      </div>
      <!-- CSS FOR ENTRY HERE -->
        <style>
         /* ENTER YOUR CSS HERE!!!!! */
        </style>
    
    <!-- CODE TAB -->
      <div class="col-md-6 code"> 
        <h4> CSS </h4>
        <pre class="prettyprint"> 
          <!-- ENTER YOUR CSS HERE!!!!!  -->
        </pre>
      </div>
      <div class="col-md-6" id="code"> 
        <h4> HTML </h4>
        <pre class="prettyprint"> 
          <!-- ENTER YOUR HTML HERE!!!!! REPLACE '<' WITH '&lt;' and '<' with '&gt;' -->
        </pre>
      </div>

  </div>
</div>


