<div class="container">
  
  <!-- TITLE -->
  <div class="col-md-12"> 
    <h2>Text Transform</h2>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
      
      <!-- HTML FOR ENTRY HERE -->
      <div class="style-container"> <!-- TRYING TO USE THIS DIV TO CONTAIN STYLES TO ONLY APPLY WITHIN -->
         
         <h5 class="square-header">None</h5>
          <div class="square" id="none">
              &nbsp
          </div>

          <h5 class="square-header">Rotate</h5>
          <div class="square" id="rotate">
              &nbsp
          </div>

          <h5 class="square-header">Skew</h5>
          <div class="square" id="skew">
              &nbsp
          </div>

          <h5 class="square-header"> Translation</h5>
          <div class="square" id="translate">
              &nbsp
          </div>
        
      </div>
      <!-- CSS FOR ENTRY HERE -->
        <style>
        h5.square-header{
          position:relative;
          left: 130px;
         
        }

        .square{
          width: 140px; 
          height: 140px; 
          background: silver; 
          margin: 65px;
          float: left;

        }

        #none{
           transform:none;
           -ms-transform:none; /* IE 9 */
          -webkit-transform:none; /* Safari and Chrome */
        }

        #rotate {
           transform:rotate(10deg);
           transform-origin: bottom left;
           -ms-transform:rotate(10deg); /* IE 9 */
          -webkit-transform:rotate(10deg); /* Safari and Chrome */

        }

        #skew{
          transform:skew(10deg);
          transform-origin: bottom left;
          -ms-transform:skew(10deg); /* IE 9 */
          -webkit-transform:skew(10deg); /* Safari and Chrome */
        }

        #translate{
          transform:translate(10deg);
          transform-origin: bottom left;
          -ms-transform:translate(10deg); /* IE 9 */
          -webkit-transform:translate(10deg); /* Safari and Chrome */
        }
        </style>


    
    <!-- CODE TAB -->
        <div class="col-md-6 code"> 
          <h4> CSS </h4>
          <pre class="prettyprint"> 
            h5.square-header{
          position:relative;
          left: 130px;
         
        }

        .square{
          width: 140px; 
          height: 140px; 
          background: silver; 
          margin: 65px;
          float: left;

        }

        #none{
           transform:none;
           -ms-transform:none; /* IE 9 */
          -webkit-transform:none; /* Safari and Chrome */
        }

        #rotate {
           transform:rotate(10deg);
           transform-origin: bottom left;
           -ms-transform:rotate(10deg); /* IE 9 */
          -webkit-transform:rotate(10deg); /* Safari and Chrome */

        }

        #skew{
          transform:skew(10deg);
          transform-origin: bottom left;
          -ms-transform:skew(10deg); /* IE 9 */
          -webkit-transform:skew(10deg); /* Safari and Chrome */
        }

        #translate{
          transform:translate(10deg);
          transform-origin: bottom left;
          -ms-transform:translate(10deg); /* IE 9 */
          -webkit-transform:translate(10deg); /* Safari and Chrome */
        }


          </pre>
        </div>
        <div class="col-md-6" id="code"> 
          <h4> HTML </h4>
          <pre class="prettyprint"> 
            &lt;h5 class="square-header">None&lt;/h5>
            &lt;div class="square" id="none">
                &nbsp
            &lt;/div>

            &lt;h5 class="square-header"&gt;Rotate&lt;/h5&gt;
            &lt;div class="square" id="rotate"&gt;
                &nbsp
            &lt;/div&gt;

            &lt;h5 class="square-header"&gt;Skew&lt;/h5&gt;
            &lt;div class="square" id="skew"&gt;
                &nbsp
            &lt;/div&gt;

            &lt;h5 class="square-header"&gt;Translation&lt;/h5&gt;
            &lt;div class="square" id="translate"&gt;
                &nbsp
            &lt;/div&gt;
        </pre>
      </div>
  </div>
</div>

<h3>Browser Support</h3>
      <p class="browser">
        Chrome(Webkit), Firefox 3.5 (1.9.1) -moz and 16.0, IE 9.0 -moz and 10.0, Opera 10.5 -o and 12.10, Safari(Webkit) 3.1.
      </p>

